.overlay-content > ul > #ULfsc > li{
    list-style-image: url("../images/FSC-SLIDER/check.png");
}

#ContactoForm {
    background-color: white;
    padding: 15px;
    border: 2px solid red ;
    border-radius: 9px;
}


